body
{
    margin: 0;
    padding: 0;
}
#header
{
    width: 100%;
    height: 60px;
    background-color: rgb(1, 177, 231);
    border: 1px solid black;
    padding: 20px;
}
#nav
{
    width: 100%;
    height: 30px;
    background-color: rgb(1, 177, 231);
    margin: 0;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}
#section
{
    width: 100%;
    height: 2190px;
    background-color: rgb(171, 193, 223); 
    text-align: center;
    margin: 0;
    padding: 20px;
    border: 1px solid black;
}    
.horizontal
{
    width: 7%;
    height: 30px;
    margin: 0 auto;
    background-color: rgb(1, 177, 231);
}
.horizontal ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0 auto;
}
.horizontal li
{
    float: left;
    padding-right: 30px;

}
.horizontal a
{
    font-size: 23px;
    color: black;
    display: block; 
    border-right:1px solid rgb(1, 177, 231);
    text-align: center;
}
h1
{
    text-align: center;
    
}
#block1
{
    width:585px;
    height:480px;
    background-color: white;
    float: left;
    border: 5px solid rgb(83, 138, 216);
    margin:20px;
}
#block2
{
    width:585px;
    height:480px;
    background-color: white;
    float: left;
    border: 5px solid rgb(83, 138, 216);
    margin:20px;
}
#block3
{
    width:585px;
    height:480px;
    background-color: white;
    float: left;
    border: 5px solid rgb(83, 138, 216);
    margin:20px;
}
#block4
{
    width:585px;
    height:480px;
    background-color: white;
    float: left;
    border: 5px solid rgb(83, 138, 216);
    margin:20px;
}
#block5
{
    width:585px;
    height:480px;
    background-color: white;
    float: left;
    border: 5px solid rgb(83, 138, 216);
    margin:20px;
}
#block6
{
    width:585px;
    height:480px;
    background-color: white;
    float: left;
    border: 5px solid rgb(83, 138, 216);
    margin:20px;
}
#block7
{
    width:585px;
    height:480px;
    background-color: white;
    float: left;
    border: 5px solid rgb(83, 138, 216);
    margin:20px;
}
#block8
{
    width:585px;
    height:480px;
    background-color: white;
    float: left;
    border: 5px solid rgb(83, 138, 216);
    margin:20px;
}
#block9
{
    width:585px;
    height:480px;
    background-color: white;
    float: left;
    border: 5px solid rgb(83, 138, 216);
    margin:20px;
}
#block10
{
     width:585px;
    height:480px;
    background-color: white;
    float: left;
    border: 5px solid rgb(83, 138, 216);
    margin:20px;
}
#block11
{
    width:585px;
    height:480px;
    background-color: white;
    float: left;
    border: 5px solid rgb(83, 138, 216);
    margin:20px;
}
#block12
{
    width:585px;
    height:480px;
    background-color: white;
    float: left;
    border: 5px solid rgb(83, 138, 216);
    margin:20px;
}
#snimka1
{
    width: 585px;
    height: 480px;
}
#snimka2
{
    width: 585px;
    height: 480px;
}
#snimka3
{
    width: 585px;
    height: 480px;
}
#snimka4
{
    width: 585px;
    height: 480px;
}
#snimka5
{
    width: 585px;
    height: 480px;
}
#snimka6
{
    width: 585px;
    height: 480px;
}
#snimka7
{
    width: 585px;
    height: 480px;
}
#snimka8
{
    width: 585px;
    height: 480px;
}
#snimka9
{
    width: 585px;
    height: 480px;
}
#snimka10
{
    width: 585px;
    height: 480px;
}
#snimka11
{
    width: 585px;
    height: 480px;
}
#snimka12
{
    width: 585px;
    height: 480px;
}
.Shadow
{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 34px 5px #38FAFF; 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 34px 5px #38FAFF;
}
.navigations
{
    font-size: 2rem;
}